<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="bootstrap.min.css" rel="stylesheet">
  <title>Fußballspieler</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Fußballspieler</span>
      </div>
    </nav>
    <form method="post" action="/spieler/add">
      <div class="form-floating mb-3">
        <input type="text" id="nachname" name="nachname" class="form-control" placeholder="Nachname">
        <label for="nachname">Nachname</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" id="vorname" name="vorname" class="form-control" placeholder="Vorname">
        <label for="vorname">Vorname</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" id="geboren" name="geboren" class="form-control" placeholder="Geboren">
        <label for="geboren">Geboren</label>
      </div>
      <input class="btn btn-primary btn-sm" type="submit" value="Hinzufügen">

    </form>
    <br /><br />
    <div class="badge bg-primary text-wrap" style="width: 6rem;">
      SPIELER
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nachname</th>
          <th scope="col">Vorname</th>
          <th scope="col">Geboren</th>
          <th scope="col">Aktion</th>
        </tr>
      </thead>
      <tbody>
        <% spielers.forEach(function(spieler) { %>
          <tr>
            <td>
              <%= spieler.nachname %>
            </td>
            <td>
              <%= spieler.vorname %>
            </td>
            <td>
              <%= spieler.geboren %>
            </td>
            <td>
              <form method="post" action="/spieler/delete/<%= spieler._id %>">
                <input class="btn btn-secondary btn-sm" type="submit" value="Löschen" role="button">
              </form>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</body>

</html>